# Group B Assignment - 1

1. Perform the following operations using Python on the Facebook metrics data sets <br>
a. Create data subsets <br>
b. Merge Data <br>
c. Sort Data <br>
d. Transposing Data <br>
e. Shape and reshape Data <br>

## Importing libraries

In [1]:
import pandas as pd
import numpy as np

## Reading csv file

In [2]:
data = pd.read_csv(r"D:\DYP\6th Sem\LAB\DSBDA\pe\dataset_Facebook.csv")

In [3]:
data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

##  Shape , Colums , Head and Tail of data

In [4]:
data.shape

(500, 19)

In [5]:
data.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [6]:
data.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [7]:
data.tail()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

##  Removing null valued rows

In [8]:
data = data.dropna()
data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

## Creating the first column subset

In [9]:
column_data1=data[["Type","Category","Post Month","Post Weekday","Post Hour"]]
column_data1

       Type  Category  Post Month  Post Weekday  Post Hour
0     Photo         2          12             4          3
1    Status         2          12             3         10
2     Photo         3          12             3          3
3     Photo         2          12             2         10
4     Photo         2          12             2          3
..      ...       ...         ...           ...        ...
494   Photo         3           1             7         10
495   Photo         3           1             7          2
496   Photo         2           1             5          8
497   Photo         1           1             5          2
498   Photo         3           1             4         11

[495 rows x 5 columns]

## Creating the second column subset

In [10]:
column_data2=data[["Paid","Lifetime Post Total Reach","Lifetime Post Consumers"]]
column_data2

     Paid  Lifetime Post Total Reach  Lifetime Post Consumers
0     0.0                       2752                      109
1     0.0                      10460                     1361
2     0.0                       2413                      113
3     1.0                      50128                      790
4     0.0                       7244                      410
..    ...                        ...                      ...
494   0.0                       5400                      756
495   0.0                       4684                      708
496   0.0                       3480                      508
497   0.0                       3778                      572
498   0.0                       4156                      574

[495 rows x 3 columns]

## Creating the first row subset

In [11]:
row_data1=data.iloc[1:11]
row_data1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
9,139441,Photo,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252

## Creating the second row subset

In [20]:
row_data2=data.iloc[[1,2,3,7,11,13,14,15,16,17]]
row_data2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
11,139441,Photo,2,12,5,10,0.0,3112,5590,208,127,145,3887,2174,165,0,88.0,18.0,106
13,139441,Photo,2,12,5,3,0.0,2549,4896,249,134,168,3631,1917,183,5,137.0,10.0,152
14,138414,Photo,2,12,4,5,1.0,22784,39941,887,337,417,34415,19312,684,2,577.0,20.0,599
15,138414,Status,2,12,3,10,0.0,10060,19680,1264,1209,1425,17272,8548,1162,4,86.0,18.0,108
16,138414,Photo,3,12,3,3,0.0,1722,2981,163,123,148,1868,1050,123,2,40.0,12.0,54
17,138414,Photo,1,12,2,12,1.0,53264,111785,1706,1103,1655,92512,39776,1307,15,678.0,20.0,713

## Merging two subsets

In [13]:
m1 = row_data1.merge(row_data2)
m1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
1,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
2,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
3,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339

## Concatenating two subsets

In [14]:
c1 = pd.concat([row_data1,row_data2])
c1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
9,139441,Photo,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
11,139441,Photo,2,12,5,10,0.0,3112,5590,208,127,145,3887,2174,165,0,88.0,18.0,106
13,139441,Photo,2,12,5,3,0.0,2549,4896,249,134,168,3631,1917,183,5,137.0,10.0,152
14,138414,Photo,2,12,4,5,1.0,22784,39941,887,337,417,34415,19312,684,2,577.0,20.0,599
15,138414,Status,2,12,3,10,0.0,10060,19680,1264,1209,1425,17272,8548,1162,4,86.0,18.0,108
16,138414,Photo,3,12,3,3,0.0,1722,2981,163,123,148,1868,1050,123,2,40.0,12.0,54
17,138414,Photo,1,12,2,12,1.0,53264,111785,1706,1103,1655,92512,39776,1307,15,678.0,20.0,713

## Sorting the subset

In [15]:
sort1= c1.sort_values(by="Post Weekday")
sort1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
17,138414,Photo,1,12,2,12,1.0,53264,111785,1706,1103,1655,92512,39776,1307,15,678.0,20.0,713
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
15,138414,Status,2,12,3,10,0.0,10060,19680,1264,1209,1425,17272,8548,1162,4,86.0,18.0,108
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
16,138414,Photo,3,12,3,3,0.0,1722,2981,163,123,148,1868,1050,123,2,40.0,12.0,54
14,138414,Photo,2,12,4,5,1.0,22784,39941,887,337,417,34415,19312,684,2,577.0,20.0,599
11,139441,Photo,2,12,5,10,0.0,3112,5590,208,127,145,3887,2174,165,0,88.0,18.0,106
13,139441,Photo,2,12,5,3,0.0,2549,4896,249,134,168,3631,1917,183,5,137.0,10.0,152
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
9,139441,Photo,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339

## Transposing a subset

In [16]:
transpose=sort1.transpose()
transpose

,5,6,17,3,4,3,15,2,1,1,2,16,14,11,13,10,9,8,7,7
Page total likes,139441,139441,138414,139441,139441,139441,138414,139441,139441,139441,139441,138414,138414,139441,139441,139441,139441,139441,139441,139441
Type,Status,Photo,Photo,Photo,Photo,Photo,Status,Photo,Status,Status,Photo,Photo,Photo,Photo,Photo,Status,Photo,Status,Photo,Photo
Category,2,3,1,2,2,2,2,3,2,2,3,3,2,2,2,2,3,2,3,3
Post Month,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
Post Weekday,1,1,2,2,2,2,3,3,3,3,3,3,4,5,5,5,6,7,7,7
Post Hour,9,3,12,10,3,10,10,3,10,10,3,3,5,10,3,10,10,3,9,9
Paid,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
Lifetime Post Total Reach,10472,11692,53264,50128,7244,50128,10060,2413,10460,10460,2413,1722,22784,3112,2549,21744,4694,11844,13720,13720
Lifetime Post Total Impressions,20849,19479,111785,87991,13594,87991,19680,4373,19057,19057,4373,2981,39941,5590,4896,42334,8668,22538,24137,24137
Lifetime Engaged Users,1191,481,1706,2211,671,2211,1264,177,1457,1457,177,163,887,208,249,4258,280,1530,537,537
Lifetime Post Consumers,1073,265,1103,790,410,790,1209,113,1361,1361,113,123,337,127,134,4100,183,1407,232,232
Lifetime Post Consumptions,1389,364,1655,1119,580,1119,1425,154,1674,1674,154,148,417,145,168,4540,250,1692,305,305
Lifetime Post Impressions by people who have liked your Page,16034,15432,92512,61027,6228,61027,17272,2812,11710,11710,2812,1868,34415,3887,3631,37849,4309,15220,19728,19728
Lifetime Post reach by people who like your Page,7852,9328,39776,32048,3200,32048,8548,1503,6112,6112,1503,1050,19312,2174,1917,18952,2324,7912,11056,11056
Lifetime People who have liked your Page and engaged with your post,1016,379,1307,1386,396,1386,1162,132,1108,1108,132,123,684,165,183,3798,199,1250,422,422
comment,1,3,15,58,19,58,4,0,5,5,0,2,2,0,5,0,3,0,0,0
like,152.0,249.0,678.0,1572.0,325.0,1572.0,86.0,66.0,130.0,130.0,66.0,40.0,577.0,88.0,137.0,233.0,113.0,161.0,325.0,325.0
share,33.0,27.0,20.0,147.0,49.0,147.0,18.0,14.0,29.0,29.0,14.0,12.0,20.0,18.0,10.0,19.0,26.0,31.0,14.0,14.0
Total Interactions,186,279,713,1777,393,1777,108,80,164,164,80,54,599,106,152,252,142,192,339,339

In [17]:
print(sort1.shape)
print(transpose.shape)

(20, 19)
(19, 20)

## Reshaping the subset

In [18]:
reshape=sort1.melt(id_vars="Type",value_vars=["Lifetime Post Total Reach","Post Weekday"])
reshape

      Type                   variable  value
0   Status  Lifetime Post Total Reach  10472
1    Photo  Lifetime Post Total Reach  11692
2    Photo  Lifetime Post Total Reach  53264
3    Photo  Lifetime Post Total Reach  50128
4    Photo  Lifetime Post Total Reach   7244
5    Photo  Lifetime Post Total Reach  50128
6   Status  Lifetime Post Total Reach  10060
7    Photo  Lifetime Post Total Reach   2413
8   Status  Lifetime Post Total Reach  10460
9   Status  Lifetime Post Total Reach  10460
10   Photo  Lifetime Post Total Reach   2413
11   Photo  Lifetime Post Total Reach   1722
12   Photo  Lifetime Post Total Reach  22784
13   Photo  Lifetime Post Total Reach   3112
14   Photo  Lifetime Post Total Reach   2549
15  Status  Lifetime Post Total Reach  21744
16   Photo  Lifetime Post Total Reach   4694
17  Status  Lifetime Post Total Reach  11844
18   Photo  Lifetime Post Total Reach  13720
19   Photo  Lifetime Post Total Reach  13720
20  Status               Post Weekday      1
21   Photo               Post Weekday      1
22   Photo               Post Weekday      2
23   Photo               Post Weekday      2
24   Photo               Post Weekday      2
25   Photo               Post Weekday      2
26  Status               Post Weekday      3
27   Photo               Post Weekday      3
28  Status               Post Weekday      3
29  Status               Post Weekday      3
30   Photo               Post Weekday      3
31   Photo               Post Weekday      3
32   Photo               Post Weekday      4
33   Photo               Post Weekday      5
34   Photo               Post Weekday      5
35  Status               Post Weekday      5
36   Photo               Post Weekday      6
37  Status               Post Weekday      7
38   Photo               Post Weekday      7
39   Photo               Post Weekday      7